{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5">Decentralized and inclusive credit history for all</h1>
              <a href="#dosomething" class="btn btn-outline btn-xl js-scroll-trigger btn-metamask-login">Log In with MetaMask <img class="metamask-icon" src="{{ url_for('static', filename='img/metamask.svg')}}" /></a>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="download bg-primary text-center" id="download">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Discover BlockBureau</h2>
            <p>Use metamask to sign into BlockBureau and start your social credit history.</p>
            <div class="badges">
              <a class="badge-link" href="#">Link1</a>
              <a class="badge-link" href="#">Link2</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="features" id="features">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Block Bureau Features...</h2>
          <p class="text-muted">Check out what you can do with BlockBureau</p>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-4 my-auto">
              <h3>Put some block Bureau features here...</h3>
          </div>
        </div>
      </div>
    </section>

    <section class="contact bg-primary" id="contact">
      <div class="container">
        <h2>We
          <i class="fa fa-heart"></i>
          new friends!</h2>
        <ul class="list-inline list-social">
          <li class="list-inline-item social-twitter">
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item social-facebook">
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item social-google-plus">
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
        </ul>
      </div>
    </section>

{% endblock %}
